### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### Sphinx ###
# Sphinx documentation
docs/build/

imolcryff.egg-info/
train_state.pkl
loop*xml
test_*com
test_*log
build/*
timer.dat
epoch*.xml
MOL_*.*

# egg-info
*.egg-info/

# examples
dmc_*png
MOL_0_resp.mol2
MOL_0.sdf

### Antechamber ###
ANTECHAMBER_*
ANTECHAMBER.FRCMOD
ATOMTYPE.INF
molecule.frcmod
fort.7
ANTECHAMBER.ESP
esout
gaff.dat
punch
qout

### psi4 ###
MOL_*psi4.*
timer.dat
psi4_*
psi*.*.clean
examples/opt/dihedral/dmc/dmc1_best.xml
examples/opt/dihedral/dmc/dmc1_best1_best.xml
examples/opt/dihedral/dmc/loop-1.xml
examples/opt/dihedral/dmc/loop-2.xml
examples/opt/dihedral/dmc/loop-3.xml
examples/opt/dihedral/dmc/loop-4.xml
examples/opt/dihedral/dmc/loop-5.xml
examples/opt/dihedral/dmc/loop-6.xml
examples/opt/dihedral/dmc/loop-7.xml
examples/opt/dihedral/dmc/loop-8.xml
examples/opt/dihedral/dmc/loop-9.xml
examples/opt/dihedral/dmc/loop-10.xml
examples/opt/dihedral/dmc/loop-11.xml
examples/opt/dihedral/dmc/loop-20.xml
examples/opt/dihedral/dmc/loop-40.xml
examples/opt/dihedral/dmc/loop-60.xml
examples/opt/dihedral/dmc/loop-80.xml
examples/opt/dihedral/dmc/loop-100.xml
examples/opt/dihedral/dmc/loop-120.xml
examples/opt/dihedral/dmc/loop-140.xml
examples/opt/dihedral/dmc/loop-160.xml
examples/opt/dihedral/dmc/loop-180.xml
examples/opt/dihedral/dmc/loop-200.xml
examples/opt/dihedral/dmc/loop-220.xml
examples/opt/dihedral/dmc/loop-240.xml
examples/opt/dihedral/dmc/loop-260.xml
examples/opt/dihedral/dmc/loop-280.xml
examples/opt/dihedral/dmc/loop-300.xml
examples/opt/dihedral/dmc/loop-320.xml
examples/opt/dihedral/dmc/loop-340.xml
examples/opt/dihedral/dmc/loop-360.xml
examples/opt/dihedral/dmc/loop-380.xml
examples/opt/dihedral/dmc/loop-400.xml
examples/opt/dihedral/dmc/loop-420.xml
examples/opt/dihedral/dmc/loop-440.xml
examples/opt/dihedral/dmc/loop-460.xml
examples/opt/dihedral/dmc/loop-480.xml
examples/opt/dihedral/dmc/loop-500.xml
examples/opt/dihedral/dmc/loop-520.xml
examples/opt/dihedral/dmc/loop-540.xml
examples/opt/dihedral/dmc/loop-560.xml
examples/opt/dihedral/dmc/loop-580.xml
examples/opt/dihedral/dmc/loop-600.xml
examples/opt/dihedral/dmc/loop-620.xml
examples/opt/dihedral/dmc/loop-640.xml
examples/opt/dihedral/dmc/loop-660.xml
examples/opt/dihedral/dmc/loop-680.xml
examples/opt/dihedral/dmc/loop-700.xml
examples/opt/dihedral/dmc/loop-720.xml
examples/opt/dihedral/dmc/loop-740.xml
examples/opt/dihedral/dmc/loop-760.xml
examples/opt/dihedral/dmc/loop-780.xml
examples/opt/dihedral/dmc/loop-800.xml
examples/opt/dihedral/dmc/loop-820.xml
examples/opt/dihedral/dmc/loop-840.xml
examples/opt/dihedral/dmc/loop-860.xml
examples/opt/dihedral/dmc/loop-880.xml
examples/opt/dihedral/dmc/loop-900.xml
examples/opt/dihedral/dmc/loop-920.xml
examples/opt/dihedral/dmc/loop-940.xml
examples/opt/dihedral/dmc/loop-960.xml
examples/opt/dihedral/dmc/loop-980.xml
examples/opt/dihedral/dmc/loop-1000.xml
examples/opt/dihedral/dmc/loop-1020.xml
examples/opt/dihedral/dmc/loop-1040.xml
examples/opt/dihedral/dmc/loop-1060.xml
examples/opt/dihedral/dmc/loop-1080.xml
examples/opt/dihedral/dmc/loop-1100.xml
examples/opt/dihedral/dmc/loop-1200.xml
examples/opt/dihedral/dmc/loop-1300.xml
examples/opt/dihedral/dmc/loop-1400.xml
examples/opt/dihedral/dmc/loop-1500.xml
examples/opt/dihedral/dmc/loop-1600.xml
examples/opt/dihedral/dmc/loop-1700.xml
examples/opt/dihedral/dmc/loop-1800.xml
examples/opt/dihedral/dmc/loop-1900.xml
examples/opt/dihedral/dmc/loop-2000.xml
examples/opt/dihedral/dmc/loop-2100.xml
examples/opt/dihedral/dmc/loop-2200.xml
examples/opt/dihedral/dmc/timer.dat
examples/opt/dihedral/dmc/xmlfiles/dmc1_best1.xml
examples/opt/distance_vsite/timer.dat
examples/opt/distance_vsite/train_state.pkl
examples/opt/distance_vsite/wovsite.pdb
examples/opt/distance_vsite/distance_scan/fort.7
examples/opt/distance_vsite/xmlfiles/merge.xml
examples/opt/distance_vsite/xmlfiles/merged.xml
imolcryff/trainer/trainer copy.py
examples/opt/distance_vsite/loop-0.xml
examples/opt/distance_vsite/loop-1.xml
examples/opt/distance_vsite/loop-101.xml
examples/opt/distance_vsite/loop-201.xml
examples/opt/distance/distance_scan/fort.7
examples/opt/distance_vsite/hoge.pdb
tests/test_crafter/CH4_cell_density.pdb
tests/test_crafter/CH4_density_cell.pdb
tests/test_crafter/CH4_num_mols_cell.pdb
tests/test_crafter/CH4_num_mols_density.pdb
tests/test_crafter/CH4.pdb
tests/test_crafter/gaff.dat
tests/test_crafter/pack_tmp.inp
classes.png
imolcryff/calculator/xmlfiles/ethane1.xml
imolcryff/calculator/ethane1_best.xml
imolcryff/calculator/hoge.pdb
examples/crafter/crystal/MOL_0/MOL_0.sdf
.gitignore
examples/crafter/crystal/MOL_0/MOL_0_resp.mol2
examples/crafter/crystal/MOL_0/MOL_0.sdf
examples/crafter/crystal/MOL_0/MOL_0.xyz
examples/crafter/crystal/MOL_1/MOL_1_resp.mol2
examples/crafter/crystal/MOL_1/MOL_1.sdf
examples/crafter/crystal/MOL_1/MOL_1.xyz
examples/crafter/crystal/MOL_2/MOL_2_resp.mol2
tests/xmlfiles/ethane1.xml
tests/test_trainer/vs_temp.pdb
tests/test_trainer/xmlfiles/ethane1.xml
tests/test_trainer/xmlfiles/test_tp.xml
tests/test_trainer/xtcfiles/.sample_0.xtc_offsets.npz
tests/test_trainer/xtcfiles/sample_0.xtc
tests/xmlfiles/test_tp.xml
tests/xtcfiles/.sample_0.xtc_offsets.npz
tests/xtcfiles/sample_0.xtc
examples/crafter/crystal/MOL_0/MOL_0_resp.mol2
examples/crafter/crystal/MOL_0/MOL_0.sdf
examples/crafter/crystal/MOL_0/MOL_0.xyz
examples/crafter/crystal/MOL_1/MOL_1_resp.mol2
examples/crafter/crystal/MOL_1/MOL_1.sdf
examples/crafter/crystal/MOL_1/MOL_1.xyz
examples/crafter/crystal/MOL_2/MOL_2_resp.mol2
tests/supercell_bonds.pdb
tests/supercell.pdb
tests/system.xml
tests/test_tp_best.xml
tests/test_tp_learning_curve.png
tests/vs_supercell_bonds.pdb
tests/vs_temp.pdb
tests/data/dmff_parsed.yaml
tests/data/fsa_resp.mol2.gaff
tests/ethane/ethane_bonds.pdb
tests/ethane/ethane_resp.mol2
tests/ethane/ethane_resp.mol2.gaff
tests/data/dmff_parsed.yaml
tests/ethane/ethane.sdf
tests/ethane/ethane.xyz
tests/test_trainer/ethane1_best.xml
tests/test_trainer/gaffxml_0.xml
tests/test_trainer/sample_0.png
examples/opt/distance/xmlfiles/SN1_Li1.xml
examples/opt/distance/xmlfiles/merged.xml
examples/opt/distance/vs_testtest.pdb
examples/opt/distance/SN1_Li1_best.xml
