@import url("css/theme.css");

.tight-table td {
    white-space: normal !important;
}

.toggle .header {
    display: block;
    clear: both;
    padding-top: -10px;
    padding-bottom: 20px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* Custom colors */
/* Icon surrounding color */
.wy-side-nav-search, .wy-nav-top { /* above navigation, behind logo */
    background: #f3f3f3; 
}

.icon.icon-home { /* link above logo */
    color: #6c6a6a;
}

.wy-nav-top {
    color: #c6c3c3;
}

.wy-nav-top a {
    color: #6c6a6a;
}
/* .admonition-title { notes, title */
    /* background: #d35f5f !important;  */
/* } */

/* .version { version spec under logo */
    /* color: #d35f5f !important; */
/* } */
